* {
    box-sizing: border-box;
}

main {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    width: 100%;
    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: 150px;
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 1em;
}

article {
    padding: 20px;
    color: #fff;
    font-weight: bold;

}

article:nth-child(odd) {
    background-color: #1E90FE;
}

article:nth-child(even) {
    background-color: #F37349;
}